body { font-family: Arial; max-width: 600px; margin: auto; padding: 20px; }
form input, form textarea { display: block; width: 100%; margin-bottom: 10px; }
#hasil div { border: 1px solid #ccc; padding: 10px; margin-top: 10px; }
button { cursor: pointer; }
